@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.list-item{
    font-size: 20px;
    margin-top:20px;
    color: black;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
canvas{
    padding: 0;
    /* margin: auto; */
    /* display: flex;
    justify-content: center; */
    /* cursor: crosshair; */
  }
  